
<div class="cont" *ngIf="!this.newUser">
<main class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <form>

      <img src="../../../assets/login.png" height="160px" width="170px" alt="">
      <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>

      <div class="form-floating">
        <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
        <label for="floatingInput">Ingrese email</label>

      <div class="d-flex justify-content-center text-center align-items-center" style="height: 30px;">
        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
        <span class="formError" *ngIf="loginForm.get('email')?.errors?.['required']">El email es requerido.</span>
        <span class="formError" *ngIf="loginForm.get('email')?.errors?.['email']">El email no es válido.</span>
        </div>
      </div>
    </div>

    <div class="form-floating mt-2">
      <input  type="password" class="form-control" formControlName="password" placeholder="Password">
      <label for="floatingInput">Ingrese contraseña</label>
    </div>
      <div class="mb-4 d-flex justify-content-center text-center align-items-center" style="height: 30px;">
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        <span class="mb-3 formError" *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida.</span>
      </div>
    </div>

      <div class="checkbox m-3">
        <label>
          <input type="checkbox" value="remember-me"> Recuérdame
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary mb-3"  type="submit" [disabled]="!loginForm.valid">Ingresar</button>

      <span>
      No está registrado?
      Registrese
      </span>
      <button class="w-100 btn btn-lg text-dark btn-warning" (click)="this.registerUser()">Registrar</button>




      <p class="mt-5 mb-3 text-muted">&copy; 2023–2024</p>
    </form>
  </main>
