
@if (shouldRun) {
  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon class="icon">menu</mat-icon>

      </button>
      <i class="ms-auto fa-solid fa-right-from-bracket"></i>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
[fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="custom-sidenav">
<mat-nav-list class="navList">

  <img src="../../../assets/login.png" class="profileImg" alt="" width="50px" height="50px">
<a>Facundo Rocha</a>
<mat-divider></mat-divider>
<mat-list-item>
  <i class="icon fa-solid fa-id-card"></i>
   <span class="item">Perfil</span>
</mat-list-item>

<mat-list-item >
  <i class="icon fa-solid fa-cart-shopping"></i>
  <span class="item">Mi carrito</span>
</mat-list-item>


<mat-list-item >
  <i class="icon fa-solid fa-list"></i>
  <span class="item">Mis pedidos</span>
</mat-list-item>


<mat-list-item >
  <i class="icon fa-solid fa-user"></i>
  <span class="item">Usuarios</span>
</mat-list-item>

</mat-nav-list>
</mat-sidenav>

<mat-sidenav-content class="content-with-bg">

<div class="container mt-5 pt-5">


  <app-list-products></app-list-products>



</div>
</mat-sidenav-content>
</mat-sidenav-container>
  </div>
} @else {
  <div>Please open on Stackblitz to see result</div>
}


<!-- Copyright 2024 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
